/*ctrl+F快速查找*/
body{
    font:14px  / 1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, em, img, strong, dd, dl, dt, form, label, table, caption, tbody, tfoot, thead, tr, th, td,ul,li,p,a,i{
    margin: 0;
    padding: 0;
}
input,select,textarea,img{
    vertical-align:middle;
}
img{
    border:0;
}
input{
    outline: none;
}
ul,ol,li{
    list-style-type:none;
}
.clearfix:before,.clearfix:after{
    display:table; /*转换为表格模式*/
    content:"";
}
.clearfix:after{clear:both;}
.clearfix{zoom:1;} /*为了照顾ie6*/
/*header*/
.header{
    position: relative;
    height: 40px;
    background: #333;
    font-size: 12px;
}
.header .headerTop{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.headerTop .headerNav{
    height: 40px;
    float:left;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
}
.headerNav a{
    text-decoration: none;
    color:#b0b0b0;
}
.headerNav  a:hover{
    color:#fff;
}
.headerNav .sep{
    margin: 0 .5em;
    color:#424242;
}
.headerTop .headerCart,.headerTop .headerInfo{
    height: 40px;
    line-height: 40px;
    float: right;

}
.headerTop .headerCart a,.headerTop .headerInfo a{
    color:#b0b0b0;
    text-decoration: none;
}
.headerTop .headerInfo a{
    margin-left:10px
}
.headerTop .headerInfo a:hover{
    color:#fff;
}
.headerTop .headerInfo{
    width: 120px;
    padding: 0;
    text-align: center;
}
.headerTop .headerInfo .sep{
    color:#424242;
}
.headerTop .headerCart{
    cursor: pointer;
    padding: 0 0 0 22px;
    width: 100px;
    position: relative;
    background: url("../images/png1.png") no-repeat 0 12px;
}

.headerCart .menu{
    position: absolute;
    top: 40px;
    right: 0;
    border-top: 0;
    display: none;
    width: 350px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.headerTop .headerCart:hover{
    background: url("../images/png1.png") no-repeat 0 -37px #fff;

}
.headerTop .headerCart:hover .menu{
    z-index: 20;
    border-top: none;
    display: block;
}
.headerCart .menu .text{
    margin: 5px 20px 20px;
    padding: 20px 0;
    text-align: center;
}
.headerCart:hover a{
    color: #ff6600;
}
/*headerCbody*/
.headerCbody{
    height: 100px;
    z-index: 10;
}
.headerCbody .navCbody{
    width: 1226px;
    height: 100px;
    margin-right:auto;
    margin-left: auto;
}
.navCbody .logo{
    float: left;
    margin-top:30px;
    width: 62px;
    background: #ff6600;
    text-align: center;
}
.navCbody .navList{
    width: 820px;
    height: 88px;
    z-index: 10;
    font-size: 16px;
    padding: 12px 0 0 30px;
    margin: 0;
    float: left;
    list-style: none;
    text-align: center;
    line-height: 88px;
}
.navCbody .navItem0{
    float: left;
    width: 127px;
    height: 88px;
    padding-right:15px;
}
.navCbody .navItem{
    display: block;
    float: left;
    text-align: center;
}
.navCbody .navItem a:hover{
    color:#ff6600 ;
}
.navCbody .navItem .link{
    position: relative;
    padding: 26px 16px 38px;
    color: #333;
    text-decoration: none;
}
.navCbody .navSearch{
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
}
.headerCbody .searchForm {
    position: relative;
    width: 296px;
    height: 50px;
}
.navSearch .searchForm input.searchText{
    position: relative;
    left:0;
    z-index: 1;
    width: 223px;
    height:48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
}
.navSearch input.searchBtn{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    width: 52px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    -webkit-transition:  all .2s;
    -moz-transition:  all .2s;
    -ms-transition:  all .2s;
    -o-transition:  all .2s;
    transition:  all .2s;
    outline: 0;
    background-color: #fff;
    background: url("../images/fdj.png") no-repeat 16px 16px;
}
.navSearch input.searchBtn:hover{
    background: url("../images/fdj_hover.jpg") no-repeat 16px 16px #ff6600;
}
.searchForm .searchKeywords{
    position: absolute;
    left: 96px;
    top: 19px;
    float: right;
    z-index: 5;
}

.searchForm .searchKeywords img{
    position: relative;
    top: -4px;
    left: 28px;
}
.searchKeywords a{
    background: #ccc;
    font-size: 14px;
    /*border-radius: 30px;*/
    color:#757575 ;
    text-decoration: none;
    margin: 5px;
}
.searchKeywords a:hover{
    background-color:#ff6600 ;
    color: #fff;
}
.headerCbody .searchForm .keywordList{
    height: 300px;
    width: 243px;
    border: 1px solid #ff6700;
    display: none;
    position: absolute;
    top: 49px;
    left: 0;
    z-index: 50;
    background: #fff;
}
.headerCbody .searchForm .keywordList span{
    margin-top: 30px;
}
.headerCbody .searchForm .keywordList span.number{
    margin-left: 124px;
}
/*.headerCbody .searchForm .keywordList span.keyword{
    float: left;
}
.headerCbody .searchForm .keywordList span.number{
    float: right;
}*/
.navCbody  .itemChildren{
    display: none;
    -webkit-transition:  all 10s;
    -moz-transition:  all 10s;
    -ms-transition:  all 10s;
    -o-transition:  all 10s;
    transition: all 10s;

    position: absolute;
    top: 140px;
    left: 0;
    z-index: 35;
    height: 223px;
    width: 100%;
    background: #fff;
    border-top:1px solid #E4E1E1;
    box-shadow: 1px 1px 0.1px #B0B0B0;
}
.navCbody .navItem:hover .itemChildren{
    -webkit-transition:  all 10s;
    -moz-transition:  all 10s;
    -ms-transition:  all 10s;
    -o-transition:  all 10s;
    transition: all 10s;
    display: block;
}
.navCbody  .itemChildren .childrenList{
    width: 1226px;
    margin: 0 auto;
}
.navCbody .itemChildren li{
    float: left;
    width: 203px;
    padding: 35px 0px 0;
    text-align: center;

}
.navCbody .itemChildren li a.first{
    display: block;
    border-left: 1px solid #E4E1E1;
}
.navCbody .itemChildren li img{
    width: 160px;
    height: 110px;
    line-height: 110px;
    text-align: center;

}
.navCbody .itemChildren li img.first{
    border: none;
}
.navCbody .itemChildren p{
    position: relative;
    top: -21px;
    left: 17px;
    width: 160px;
    height: 20px;
    margin-top: 2px;
    font-size: 12px;
    color:#9E9A9A ;
    text-align: center;
}
.navCbody .itemChildren p.price{
    color:#ff6700 ;
}
.navCbody .itemChildren p a{
    text-decoration: none;
    color:#757575;
}
/*轮播图*/
.homeHero{
    position: relative;
    width: 1226px;
    height: 460px;
    overflow: hidden;
    margin: 0 auto;
}
.homeHero  .categoryInner{
    width: 6130px;
    height: 460px;
    margin: 0 auto;
    position:absolute;
    top: 0;
    left: 0;
    display: inline;
}
.homeHero .btnLeft,.homeHero .btnRight{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
    width: 30px;
    height: 45px;
    background: url("../images/icon-slides.png") no-repeat 0 0;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

/*.homeHero a.btnLeft:hover,.homeHero a.btnRight:hover, {*/
    /*display: block;*/
    /*opacity: 1;*/
    /*filter: alpha(opacity=100);*/
/*}*/

.homeHero a.btnLeft {
    left: 240px;
    background-position: -85px -11px;
}
.homeHero a.btnLeft:hover{
    background-position: 0 -11px;

}
.homeHero a.btnRight {
    right: 6px;
    background-position: -134px -9px;
}
.homeHero a.btnRight:hover{
    background-position: -49px -9px;


}
.homeHero .categoryNum{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.homeHero .categoryNum li{
    float: left;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 50%;
}
/*.homeHero .categoryNum li.radio:hover{*/
    /*border-color: rgba(0,0,0,0.1);*/
    /*transition: all .2s;*/
/*}*/
.homeHero .categoryNum li.bgColor{
    /*border-color: rgba(0,0,0,0.1);*/
    /*transition: all .2s;*/
    background: black;
}
.categoryInner div{
    width: 1226px;
    height: 460px;
    float: left;

}
.siteCategory{
    position: absolute;
    width: 234px;
    height: 461px;
    background: black;
    z-index: 20;
}
.siteCategory .categoryList{
    list-style: none;
    /*height: 420px;*/
    border: 0;
    margin: 0;
    padding: 20px 0;
   /*/ z-index: 20;*/
    /*position:relative;*/
}
.siteCategory .categoryItem{
    height:40px
    color: #fff;
    text-align: left;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    padding-left: 30px;
}
.siteCategory .categoryItem a.left{
    position: relative;;
    text-decoration: none;
    color: #fff;
    margin: 20px auto;
}
.categoryList .categoryItem span.icon{
    position: absolute;
    top: -11px;
    left: 163px;
    font-size: 21px;
    float: right;
    /*padding-right: 52px;*/

}
.siteCategory .categoryItem:hover{
    background: #ff6700;
}
.siteCategory .categoryItem:hover .categoryItemNum{
    display: block;
}
.categoryItem .categoryItemNum {
    position: absolute;
    top: 0px;
    left: 234px;
    display: none;
    width: 799px;
    height: 453px;
    z-index: 38;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 3px 6px 5px #B0B0B0;
}
.categoryItem .categoryItemNum ul{
    width: 259px;
    background: white;
    float: left;
    margin-left: 7px;
}
.categoryItem .categoryItemNum ul li{
    width: 241px;
    display: inline-block;
    margin: 13px;
}
.categoryItem .categoryItemNum a{
     color:#333;
    text-decoration: none;
 }
.categoryItem .categoryItemNum a:hover{
    color:#ff6700;
}
.categoryItem .categoryItemNum span.option{
    width: 57px;
    height: 28px;
    border: 1px solid #ff6700;
    color: #ff6700;
    background: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    margin-left: 42px;
    float: right;
}
.categoryItem .categoryItemNum span:hover{
    color: #fff;
    background: #ff6700;

}

.categoryItem .categoryItemNum span.option:hover{
    background: #ff6700;
    color: #fff;
}
.homeMain{
    width: 1226px;
    margin: 15px auto 0;
    /*background: red;*/
    height: 200px;
}
.mainLeft{
    width: 237px;
}
.mainList{
    margin: 0;
    padding: 3px;
    list-style: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
    float: left;

}
.mainList li{
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    text-align: center;
    position: relative;

}
.one,.two{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
}
.three{
   border-bottom: 1px solid rgba(255,255,255,0.1);
}
.four,.five{
    border-right: 1px solid rgba(255,255,255,0.1);
}
.bg{
    margin-top: 21px;
    padding-bottom: 3px;
    height: 24px;
    margin-left: 26px;
    text-align: center;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
    display: block;
    background: url("../images/png2.png") no-repeat 0 0;
}
.top2{
    background-position: -120px 0;
}
.top3{
    background-position: -227px 0;
}
.top4{
    background-position: 0 -105px;
}
.top5{
    background-position: -117px -105px;
}
.top6{
    background-position: -225px -106px;
}
.top1:hover{
    background-position: -1px -205px;
}
.top2:hover{
    background-position: -117px -206px;
}
.top3:hover{
    background-position: -226px -205px;
}
.top4:hover{
    background-position: -1px -312px;
}
.top5:hover{
    background-position: -117px -313px;
}
.top6:hover{
    background-position: -227px -316px;
}
.mainList a{
    color:rgba(255,255,255,0.7);
    display: block;
    padding-top: 3px;
    text-decoration: none;
}
.mainList a:hover{
    color:rgba(255,255,255,1);
}
.mainLi{
    float: right;

}
.mainLi img{
    width: 316px;
    height: 170px;
}
.mainDiv{
    float: right;
    margin-left: 13px;
}
/*小米明星单品栏*/
.mainBox{
    width: 1226px;
    /*margin-top:26px;*/
    /*background: red;*/
    margin: 0 auto;
}
.boxHd{
    position: relative;
    line-height: 58px;

}
.boxHd .tabPromoted:hover{
    color: #ff6700;
    text-decoration: underline;
    text-underline: #ff6700;
}
/*.boxHd li.select{*/
    /*color: #ff6700;*/
    /*text-decoration: underline;*/
    /*text-underline: #ff6700;*/
/*}*/
/*.boxHd div.select{*/
    /*display: block;*/
/*}*/
.title{
    margin:0;
    font-size: 22px;
    line-height: 58px;
    font-weight: 200;
    color:#333;
}
.more{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 19px;
    right: 0;
}
.more em{
    line-height: 15px;
    text-align: center;
    display: inline-block;
    width: 28px;
    height: 15px;
    border: 1px solid #ccc;
    color: #ccc;
}
.more em:hover{
    color: #ff6700;
}
.boxBd{
    width: 1226px;
    margin: 0 auto;
    overflow: hidden;
}
.boxInner{
    width: 2452px;
}
.boxBd img{
    width: 160px;
    height: 160px;
}
.boxBd li{
    display: inline;
    float:left;
    /*padding-top: 39px;*/
    border-top-width: 1px;
    border-top-style:solid;
    text-align: center;
    background: #fafafa;
    width: 234px;
    height: 300px;
    margin-right: 14px;
}
.boxBd .boxItem1{
    border-top-color:#ffac13;
}
.boxBd .boxItem2{
    border-top-color:#83c44e;
}
.boxBd .boxItem3{
    border-top-color:#2196f3;
}
.boxBd .boxItem4{
    border-top-color:#e53935;
}
.boxBd .boxItem5{
    border-top-color:#00c0a5;
    margin-right: 0;
}

.boxBd .title{
    font-size: 14px;
    font-weight: 400;
    color:  #212121;
}
.desc{
    height: 30px;
    margin: 23px 6px 5px;
    font-size: 12px;
    color: #b0b0b0;
}
.introduce{
    margin: -10px 6px 13px;
}
.boxBd .price{
    color:#ff6700;
    margin: -15px;
    font-size: 14px;
}

/*pageMain*/
.pageMajor{
    padding-top: 60px;
    padding-bottom: 40px;
}
.pageMain{
    background:#fafafa ;
    margin-top: 37px;
}
.container{
    width: 1226px;
    margin: 0 auto;
}
.homeBox{
    margin-bottom: 20px;
    margin-top: 20px;
}

/*smart*/
#smart {


}
#smart .boxBd{
    margin-top: 10px;
}
.boxBdLeft{
    float: left;
    height: 615px;
}
.boxBd li.item0{
    border: 0;
}
.item0 img{
    width: 234px;
    height: 614px;
}
.span8 {
     float: left;
     width: 978px;
     height: 614px;

 }
.span8List li.spanLi{
    /*box-shadow: 1px 1px 5px #ccc;*/
    margin-right:10px;
    margin-bottom: 14px;
    border: 0;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    z-index:1;
    position: relative;
}
.span8List li.spanLi:hover{
    z-index:2;
}
.span8List li.spanLi .lable{
    position: absolute;
    top: 0;
    left: 40%;
    width: 50px;
    height: 20px;
    color: #fff;
}
.span8List li.spanLi .color{
    background: red;
}
.span8List li.spanLi .newProduct{
    background: green;
}
li.last{
    margin-right: 0;
}

/*match*/
#match{
    margin-top: 22px;
}

.tabList{
    margin:0;
    /*padding: 16px 0 0;*/
    list-style: none;
    font-size: 16px;
    text-align: center;
}
.tabList li{
    margin: 0 0 0 30px;
    display: inline-block;
    padding: 0;
    color:#424242;
    cursor: pointer;
}
.span9{
    margin-right: 14px;
}

.leftList{
    width: 234px;
}
.leftList img{
    width: 234px;
    height: 300px;
}
.leftList li.item1{
    margin-bottom: 14px;
}
.span8List li.itemMin{
    position: relative;
    width:234px;
    height: 143px;
}
.span8List li.itemMin img{
    position: absolute;
    top: 23px;
    left: 155px;
    width: 80px;
    height: 80px;
}
.span8List .itemMin h3{
    margin-top: 29px;
    margin-left: -83px;
}
.span8List .itemMin p{
    margin-left: -155px;
}
.span8List .itemMin p.desc{
    margin-top: -17px;
    margin-left: -79px;
}
.changeTab{
    display: none;
}
.promoted{
    display: block;
}
/*accessories*/
#accessories{

}
/*around*/
#around{

}
/*recommend*/
#recommend .boxInner .boxList .boxItem{
   border:0;
    background: #fff;
}
/*comment*/
#comment .comList li{
    position: relative;
    float: left;
    width: 296px;
    height: 415px;
    margin-bottom: 14px;
    background: #fff;
    margin-right: 14px;
}
#comment .comList .comLast{
    margin-right: 0;
}
#comment .comList img{
    width: 296px;
    height: 220px;
}
.boxBd .brickItem{
    position: relative;
    overflow: hidden;
}
.boxBd .brickItem:hover .reviewWrapper{
    z-index: 2;
    top:198px;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.boxBd .brickItem .reviewWrapper{
    position: absolute;
    /*bottom: 0;*/
    top:301px;
    color: #fff;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 102px;
    overflow: hidden;
    _zoom: 1;
    font-size: 12px;
    background: #ff6700;


}

/*划过动的效果*/
/*.boxBd .brickItem:hover{*/
    /*top: -1px;*/
    /*box-shadow: 0 215px 30px rgba(0,0,0,.1);*/
    /*transition: all .3s;*/
/*}*/
.boxBd .brickItem:hover {
    top: -1px;
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transition: all .3s;
}
.brickItem:hover {
    z-index: 2;
}

.boxBd .brickItem .reviewWrapper a{
    color: #fff;
    display: block;
    padding: 8px 30px;
}
.boxBd .brickItem .reviewWrapper .author{
    color: rgba(255,255,255,0.6);
}
 .review{
     height: 68px;
     margin: 6px 6px 0px;
     font-size: 12px;
     line-height: 24px;
     font-weight: 400;
     overflow: hidden;
     /*display: block;*/
    /*height: 72px;*/
    /*margin: 18px 28px 22px;*/
    /*font-size: 14px;*/
    /*line-height: 24px;*/
    /*font-weight: 400;*/
    /*overflow: hidden;*/
}
 a{
    text-decoration: none;
    color: #333;
}
 .author{
     display: block;
     position: relative;
     height: 16px;
     margin: 0 0 -15px;
     padding: 13px 4px 20px 12px;
     font-size: 12px;
     color: #b0b0b0;
     /*display: block;*/
    /*position: relative;*/
    /*height: 18px;*/
    /*margin: 0 0 -13px -110px;*/
    /*padding: 0 10px 0 0;*/
    /*font-size: 12px;*/
    /*color: #b0b0b0;*/
}
.comList .info .title{
    position: relative;
    top: 0;
    left: -51px;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    vertical-align: bottom;
    color: #333;
}
.comList .info .sep{
    position: absolute;
    top: 5px;
    left: 86px;
    color: #e0e0e0;
    margin: 0 .25em;
    font-family: sans-serif;
}
.comList .info .price{
    position: absolute;
    top: 17px;
    left: 120px;
    display: inline;
}
.comList .info .priceP{
    position: relative;
    top: -40px;
    left: 83px;
}
/*content*/
#content .boxBd .boxList .boxItem{
    width: 296px;
    height: 374px;
    background: #fff;
}
/*video*/
#video{
    margin-top: 22px;
}
#video .comList li{
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-bottom: 14px;
    background: #fff;
    margin-right: 14px;
    border:0 ;
}
#video .comList li.videoLast{
    margin-right: 0;
}
#video .comList img{
    width: 296px;
    height: 180px;
}
#video .info .title{
    position: relative;
    top: 20px;
    left: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
#video .info .title:hover{
    color: #ff6700;
}
#video .author{
    text-align: center;
    margin: 0;
    padding: 0;
}

/*底部-1*/
.siteFooter{
    width: 100%;
    background: #fff;
}
.siteFooter .footerService{
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
 }
.siteFooter .listService{
    margin: 0;
    padding: 0;
    list-style: none;
}
.siteFooter .listService li{
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.siteFooter .listService li.footerFirst{
    border: 0;
}
.siteFooter .listService a{
    color:#616161;
    text-decoration: none;
}
.siteFooter .listService a:hover{
    color:#ff6700;
}
.siteFooter .footerLinks{
    padding: 40px 0;
}
.siteFooter .footerLinks .colLinks{
    float: left;
    width: 160px;
    height: 112px;
    margin: 0;
}
.siteFooter .footerLinks .colLinks dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.siteFooter .footerLinks .colLinks dd{
    margin: 10px 0 0;
    font-size: 12px;
}
.siteFooter .footerLinks .colLinks dd a{
    text-decoration: none;
    color: #333;
}
.siteFooter .footerLinks .colContact{
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.siteFooter .footerLinks .colContact .phone{
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.siteFooter .footerLinks .colContact p{
    margin: 0 0 16px;
    font-size: 12px;
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #ff6700;
    text-align: center;
    cursor: pointer;
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}
.btn:hover{
    background: #ff6700;
    color: #fff;
}


/*底部二*/
.siteInfo{
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.siteInfo .logo{
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background: url(../images/logo-footer.png) no-repeat 50% 50%;
}
.siteInfo .infoText{
    float: left;
    color: #b0b0b0;
}
.siteInfo .infoText p{
    margin: 0;
    line-height: 18px;
}
.siteInfo .infoText p a{
    color: #757575;
    text-decoration: none;
}
.siteInfo .infoText p a:hover{
    color: #ff6700;
}
.siteInfo .infoLinks{
    float: right;
    height: 28px;
    margin: 4px 0 0;
}

.siteInfo .slogan{
    clear: both;
    margin: 72px auto 0;
    width: 267px;
    height: 19px;
    background: url("../images/slogan2016.png") no-repeat center 0;
}

/*content一堆轮播图*/
/*#content{
    width: 1226px;
}*/
#content .many{
    /*display: inline-block;*/
    float: left;
    margin-left: 5px;
    width: 301px;
    height: 425px;
    background: #fff;
    border-top: 1px solid red;
    border-bottom: none;
}

#content .many span{
    display: inline-block;
    height: 92px;
    margin-top: 50px;
    margin-left: 132px;
    color: #ff6700;
}
#content .many .contentOuter{
    width: 200px;
    text-align: center;
    height: 300px;
    margin-left: 60px;
    margin-top: -50px;
    position: relative;
}
#content .many .contentOuter .contentInner{
    width: 800px;
    height: 300px;
}
#content .many .contentInner h1{
    font-size: 18px;
    text-align: center;
}
#content .many .contentInner .book{
    font-size: 14px;
    text-align: center;
    color: #b0b0b0;
}